body {
  margin: 0;
  padding: 0;
  background: linear-gradient(1.3turn, rgb(159, 120, 211) 0%, rgb(194, 165, 234) 35%, rgb(197, 176, 222) 50%,rgb(210, 202, 221) 100%);
}

.flex {
  display: flex;
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.calculator {
  width: 500px;
  height: 500px;
  margin: 30vh auto;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.125);
  box-shadow: 0px 0px 25px inset rgba(67, 2, 93, 0.416);
  border: none;
}

.calculator h2:first-child {
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  font-size: 30px;
  color: rgb(33, 0, 73)
}

.inputs {
  margin-bottom: 1em;
  width: 70%;
  gap: 10px;
  
}

input {
  background-color: rgba(75, 24, 138, 0.541);
  width: 30%;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: rgb(235, 221, 251);
  border: none;
  outline: none;
}

.invalid {
  text-align: center;
  margin: 15px 0 5px;
  color: rgb(33, 0, 73)
}

.operators {
  margin-top: 2em;
  width: 70%;
  gap: 10px;
}

button {
  background-color: rgba(75, 24, 138, 0.541);
  color: transparent;
  text-shadow: 0 0 0 rgb(235, 221, 251);;
  width: 16%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.results {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

.results-display {
  font-size: 55px;
  color: rgb(33, 0, 73)
}
